table {
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  border-collapse: collapse;
  width: 80%;
  margin-left: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}